# Ignore directories
data/
results/
src/
utils/finetuning/
source/models
source/Parser/resources
source/Parser/models
source/Parser/logs
source/logs
elasticsearch/sif

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other cache or temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

elasticsearch/sif/*.sif

models/
finetuning/finetune_instruct/data_dir
finetuning/finetune_instruct/finetuned_phi_reasoning_unsloth
finetuning/finetune_instruct/scratch
finetuning/finetune_instruct/test_checkpoint_save
finetuning/finetune_instruct/unsloth_compiled_cache
